@media screen and (max-width: 1000px) {
	#sls-card {
		width: 96%;
		top: 10%;
		-moz-border-radius: .25em;
		-webkit-border-radius: .25em;
		border-radius: .25rem;
		padding: 1rem 1rem 1.6rem;
	}
	h4#feedbackTitle, h3#name {
		margin: 0;
	}
	.numberlist_ {
		width: 100%;
	}
	.numberlist_ ol {
		margin-bottom: 0em;
		transform: none;
	}
	.numberlist_ label {
		width: 100%;
		padding: 0.3em 0em 0.3em 0em;
	}
	.numberlist_ button {
		width: calc(100% - 0.9rem);
		left: 0.9rem;
	}
	.sls-card-header {
		border-radius: 0.2rem 0.2rem 0px 0px;
		-moz-border-radius: 0.2rem 0.2rem 0px 0px;
		-webkit-border-radius: 0.2rem 0.2rem 0px 0px;
	}
	.card-body {
		padding: 1rem 0px;
	}
	.sls-answer {
		padding: 0.4em 0.7em;
		width: 100%;
		-moz-border-radius: .1em;
		-webkit-border-radius: .1em;
		border-radius: .1em;
		transform: none;
	}
	.sls-small {
		width: 100%;
		transform: none;
	}
	.sls-next-card-btn {
		width: 100%;
		transform: none;
	}
	div#statisticRoot {
		display: flex;
    	justify-content: center;
	}
	div#sls-card-footer {
		display: flex;
    	justify-content: center;
	}
	svg#svgContainer {
		transform: scale(0.7);
	}
	.card-footer {
		padding: 0.5rem .5rem 0.2rem;
	}
	.singleRow {
		width: 100%;
	}
}
