<lift:surround with="default" at="content">
    <head>
        <style type="text/css">
      pre {
      white-space: pre-wrap;
      }

        </style>
    </head>
    <lift:snippet type="AbnahmeTestSnippet.Results">
        <div>
            <script type="text/javascript">
function oeffneFenster (width,height,url) {
   fenster = window.open(url, "fenster1", "width="+width+",height="+height+",status=yes,scrollbars=yes,resizable=yes");
   fenster.focus();
}
            </script>
            <div>
                <style type="text/css">table{padding: 0px 0px;border: 0px; margin:0px 0px 0px;}</style>
            </div>
            <div id="mainPanel"></div>
        </div>
        <canvas id="confetti" width="1" height="1"></canvas>
        <div id="startgame"></div>
        <div id="content"></div>
    </lift:snippet>
</lift:surround>
