<lift:surround with="default" at="content">
    <head>
        <style type="text/css">
      div#content h3 {
      margin-top:1em;
      margin-bottom:0.5em;
      }

        </style>
    </head>
    <lift:snippet type="ResourceFileForCourseSnippet.Form" form="post">
        <table class="create_class" id="create_page">
            <tr>
                <td>
                    <lift:Loc.exercise/>
                    </h2></td>
                <td><span id="exName"></span></td>
            </tr>
            <tr>
                <td>
                    <lift:Loc.fileName/>
                </td>
                <td>
                    <div id="fileNames"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <lift:Loc.description/>
                </td>
                <td>
                    <div id="description"></div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><span id="submit"></span></td>
            </tr>
        </table>
    </lift:snippet>
</lift:surround>
