<lift:surround with="default" at="content">
    <head>
        <style type="text/css">
      div#content h3 {
      margin-top:1em;
      margin-bottom:0.5em;
      }
.vertical-text {
 writing-mode: vertical-rl;
}
    .vertical-text span {
 text-orientation: upright;
 }

      
        </style>
    </head>
    <div data-lift="CoursePageStudentResultsSnippet.studentResult">
      <h2 id="title"></h2>
      <h4><lift:Loc.attendances/></h4>
      <span id="addAttendanceToday"></span>
      <ol id="attendanceList"><li id="attendances"></li>
      </ol>
      <table>
            <tbody>
              <tr>
                <th  style="vertical-align: bottom">
                  <span class="vertical-text"><lift:Loc.name/></span>
                </th>
                <th  style="vertical-align: bottom">
                  <span class="vertical-text"><lift:Loc.exercise/></span>
                </th>
                <th  style="vertical-align: bottom">
                  <span class="vertical-text"><lift:Loc.tests/></span>
                </th>
                <th  style="vertical-align: bottom">
                  <span class="vertical-text"><lift:Loc.failures/></span>
                </th>
                <th  style="vertical-align: bottom">
                  <span class="vertical-text"><lift:Loc.errors/></span>
                </th>
                <th  style="vertical-align: bottom">
                  <span class="vertical-text"><lift:Loc.lostMemory/></span>
                </th>
                <th  style="vertical-align: bottom">
                  <span class="vertical-text"><lift:Loc.styleCheckErrors/></span>
                </th>
                <th  style="vertical-align: bottom">
                  <span class="vertical-text"><lift:Loc.successfulltests/></span>
                </th>
                <th  style="vertical-align: bottom">
                  <span class="vertical-text"><lift:Loc.score/></span>
                </th>
                <th  style="vertical-align: bottom">
                  <span class="vertical-text"><lift:Loc.comments/></span>
                </th>

              </tr>
            <tr id="row"></div>

	    
            </tbody>
        </table>
	<div id="grantButton"></div>
    </div>
</lift:surround>
