<lift:surround with="default" at="content">
  <lift:snippet type="CreateCoursePageForCourseAndTermSnippet.createForm" form="post">
    <h2><span id="course"></span> <span id="term"></span></h2>
    <div id="explanation"></div>
    <span id="hiddenTerm"></span>
    <span id="hiddenCourse"></span>	
    <span id="create"/>
  </lift:snippet>
</lift:surround>

