<lift:surround with="default" at="content">
  <head>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async="async" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
    <script src="/static/3dpartyjscript/ace/src-min/ace.js"></script>
    <script src="/static/3dpartyjscript/ace/src-min/ext-modelist.js"></script>
    <script src="/static/3dpartyjscript/ace/src-min/ext-language_tools.js"></script>
  </head>

<lift:snippet type="ExerciseSnippet.Form" id="exForm" form="post" multipart="true">
  <div>
    <div id="loader"></div>
    <div>
      <span id="resourceFiles"></span>
    </div>

    <h2><span id="exName"></span></h2>
    <span id="exText"></span>
    <strong id="warning"><span id="gradedWarning"></span></strong>
    <br>
    
    <span id="groupField"></span>

    <span id="code"></span>
    <span id="solution"></span>
    <br>
    <span id="hiddenCourse"></span>
    <span id="hiddenTerm"></span>
    <span id="submit"></span>
    <div id="javascript"></div>
    <style>
      /*Hides the functional form textarea for html submit*/
      #code_form {
        display: none;
      }
      /*styles the ace-Textarea*/
      #editor {
        width: 100%;
        height: 450px;
        resize: vertical;
        border: 1px #aaaaaa solid;
      }
      #fileExt {
        display: none;
      }
      .controls {
        margin: 0;
        display: block;
        text-align: right;
        line-height: 0em;
        background-color:#dddddd;
        width: calc(100% + 2px);
      }
      .controls img {
        height: 2em;
      }
    </style>
  </div>
</lift:snippet>

</lift:surround>
