<lift:surround with="default" at="content">
    <lift:snippet type="ListCardsSnippet.list" form="post">
        <div>
            <h2><span id="courseName"></span></h2>
            <table id="show_all" class="myshow_all">
                <thead>
                <tr>
                    <th class="myheader-item">name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr id="row"></tr>
                </tbody>
            </table>
            <span id="importLink"></span>
    </lift:snippet>
</lift:surround>
