<lift:surround with="default" at="content">
  <head>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async="async"
	    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
</script>
</head>

<lift:snippet type="PlagiarismSnippet.Generate" >
         
  <div>
    <div id="loader"></div>
    <div id="downloadResult"></div>

    <h2>JPlag Command Output</h2>
    <div id="jplugOutput">


    </div>
  </div>

</lift:snippet>

</lift:surround>
