<lift:surround with="default" at="content">
  <head>
    <style type="text/css">
      div#content h3 {
      margin-top:1em;
      margin-bottom:0.5em;
      }
.vertical-text {
 writing-mode: vertical-rl;
}
    .vertical-text span {
 text-orientation: upright;
 }
    </style>
  </head>
  <lift:snippet type="PointsForSheetAndUserSnippet.getForm"  form="post">
    <h4 id="title"></h4>
    <span id="points"></span>
    <span id="hiddenSheetID"></span>
    <span id="hiddenUID"></span>
    <span id="submit"></span>
  </lift:snippet>
</lift:surround>
