<lift:surround with="SlsTemplate" at="content">

  <form data-lift="SingleCardSnippet.showMultiple" class="container">
    <h3 id="header"><lift:Loc.cardadmin/></h3>
    <h4><span><lift:Loc.number ></span>: <span id="number"></span></h4>
    <h4><span><lift:Loc.title/></span>: <span id="title"></span></h4> 
    <h4><div id="edit"></div></h4>
    <h4><span><lift:Loc.ontologyentries/></span></h4>
    <ul><li id="ontology"></li></ul>
    <div id="newentry"></div>
    <h4><lift:Loc.answers/></h4>
    <ul><li id="editAnswerLinks"></li></ul>
    <link rel="stylesheet" href="/static/sls/css/SlsCard.css">
    <h4><lift:Loc.flashcard/></h4>
    <div style="clear:left;">
      <div class="card sls-card-non-absolute mb-3 border-info" id="sls-card">
	<div style="clear:left;" id="hidden"></div>
	<div class="card-header text-center sls-card-header" style="border-color: rgba(23, 162, 184, 0.4);">
	  <div><h3 class="sls-card-name" id="name"></h3></div>
	  <div><span style="position: absolute; right: 2%;" class="badge badge-pill badge-warning" id="card-topics" data-toggle="tooltip" title="">Topics</span></div>
	</div>

	<div class="card-body">
	  <div id="loader"></div>
	  <div class="question" style="clear:left;" id="question"></div>
	  <div class="numberlist_">
            <ol>
              <li id="selectionItem"></li>
            </ol>
          </div>
	  <div style="float: right;" class="subato-logo-in-card"><a href="/">
              <small><img height="12px" src="/icon.png" style="margin-bottom: 5.5%;"/>Subato
            </a></small>
	  </div>
	</div>
      </div>
    </div>
  </form>
</lift:surround>



