<lift:surround with="SlsTemplate" at="content">
  <div data-lift="SlsCourseSnippet.progress"><script id="progressBarScript"></script></div>
  <div data-lift="SlsCourseSnippet.showCourseInfo"><script id="infoDropdownScript"></script></div>
  <form data-lift="SlsCourseSnippet.Results" class="container" method="post">
    <script id="congratulation"></script>
    <link rel="stylesheet" href="/static/sls/css/SlsCard.css">
    <div class="card mb-3 sls-card" id="sls-card">
      <div style="clear:left;" id="hidden"></div>
      <div id="sls-card-header" class="card-header text-center sls-card-header">
	<h4 id="feedbackTitle"></h4>
      </div>
      <div class="card-body">
	<div class="sls-answer" id="givenAnswer"></div>
        <div class="sls-answer" id="correctAnswer"></div>
        <div class="sls-answer" id="explanation"></div>
	<div class="sls-small" id="complain"></div>
	<div class="numberlist_" style="display: none;" id="item-container">
          <ol>
            <li id="selectionItem"></li>
          </ol>
        </div>
	<a role="button" id="nextCard" style="display: none;" class="btn btn-outline-info sls-next-card-btn"></a>
      </div>
      <div id="sls-card-footer" class="card-footer sls-card-footer">
	  <div data-lift="embed?what=SlsStatisticBar"></div>
	  <div style="float: right;" class="subato-logo-in-card">
	    <a href="/">
              <small>
		<img height="12px;" src="/icon.png" style="margin-bottom: 5.5%;"/>Subato
	      </small>
            </a>
	  </div>
      </div>
    </div>
  </form>
</lift:surround>
