<div id="progressBarRoot" data-toggle="tooltip" data-placement="top" title="No data available" class="progress" style="width: 300px; position: absolute;right: 5%;top: 32%;height: 18px;">
  <div class="progress-bar bg-success" id="goodAns" role="progressbar" style="width: 100%"></div>
  <div class="progress-bar bg-warning" id="almostGoodAns" role="progressbar" style="width: 100%"></div>
  <div class="progress-bar bg-danger"  id="badAns" role="progressbar" style="width: 100%"></div>
</div>
