<div class="card">
    <div class="card-header" id="heading">
        <h5 class="mb-0">
            <button id="course-dropdown" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse" aria-expanded="false" aria-controls="collapseThree">
            </button>
        </h5>
    </div>
    <div id="collapse" class="collapse" aria-labelledby="heading" data-parent="#statistical-data-list">
        <div class="card-body">
            <ul class="list-group list-group-flush" id="statistic-rows"></ul>
        </div>
    </div>
</div>
