<lift:surround with="default" at="content">
    <head>
        <style type="text/css">
      div#content h3 {
      margin-top:1em;
      margin-bottom:0.5em;
      }

        </style>
    </head>
    <div data-lift="SheetResultsSnippet.studentsByExercise">
        <table>
            <tbody>
            <tr>
                <th>
                    <lift:Loc.name/>
                </th>
                <th>
                    <lift:Loc.group/>
                </th>
                <th>
                    <lift:Loc.exercises/>
                </th>
                <th>
                    <lift:Loc.tests/>
                </th>
                <th>
                    <lift:Loc.failures/>
                </th>
                <th>
                    <lift:Loc.errors/>
                </th>
                <th>
                    <lift:Loc.lostMemory/>
                </th>
                <th>
                    <lift:Loc.styleCheckErrors/>
                </th>
                <th>
                    <lift:Loc.score/>
                </th>
                <th>
                    <lift:Loc.comments/>
                </th>
            </tr>

            <tr id="row"></tr>

            </tbody>
        </table>
    </div>
</lift:surround>
