<lift:surround with="default" at="content">
    <head>
        <style type="text/css">
      div#content h3 {
      margin-top:1em;
      margin-bottom:0.5em;
      }

        </style>
    </head>
    <h2>
        <lift:Loc.classes/>
    </h2>
    <p>
    <div data-lift="TermSnippet.showTerm">
        <div id="course"></div>
    </div>
    </p>
</lift:surround>
