<lift:surround with="default" at="content">
  <head>
  </head>

  <lift:snippet type="UploadFileForCourseSnippet.upload" form="post" multipart="true">
    <div>
      <h2><span id="course"/></h2>
      <div class="column span-24 bordered">
        <span id="file"></span>
        <span id="submit"></span>
      </div>
    </lift:snippet>
</lift:surround>
